
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.nav{

    position: sticky;
    top: 0px;
    z-index: 1;
}

.contentcard{
    display:flex;
    flex-wrap: wrap;
}
.card{
    width:18rem;
}
.card img{
    width: 500px;
    height: 352px;

}
